.Levenement{
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: #FFF;
        margin-left: 20px;

        margin-right: 20px;

        margin-top: 30px;
}

.containerImageint{
    display: inline-block;
    height: 100%;
    width: 20%;
    float:left;
  }


  .pdescription{
    font-size: 124%;
}

.containera {
    display: inline-block;
   height:100% ;
   width: 20%;
  }

.containerb {
    display: inline-block;
   color: #15326b;
   height:100% ;
   width: 20%;
   margin-left: 2%;
  }

  .audioInfo{
    display: inline;

    vertical-align: 12%;

    margin-left: 70%;

    margin-top: -7%;
    
    margin-bottom: 21px;
    
    width: 30%;
}