
    .horaires {

        float: left;
        width: 48px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
        line-height: 14px;
        color: #67aacf;

    }
    .emission {
        background: #efefef;
        border-bottom: 1px solid #afd9f1;
        padding: 4px 0;
            padding-top: 4px;
            padding-right: 0px;
            padding-bottom: 4px;
            padding-left: 0px;
    }
    .emission-details {

        position: relative;
        margin-top: 4px;
        padding: 6px;
        background: #afd9f1;
        color: #15326b;

    }

   
    .nom-jour {

        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-variant: small-caps;
        background: #072258   bottom left repeat-x;

    }



   
    .H1Jour{
        
        font-weight: bold;
        font-size: 12px;
        color: #15326b;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 0px;
        border-bottom: 1px solid #15326b;
        text-transform: uppercase;

    }
    
    .H1emission{
        font-weight: bold;
        font-size: 12px;
        color: #15326b;
        display: block;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #15326b;
        text-transform: uppercase;
    
    }
    
    .contenu {

        position: relative;
        float: left;
        margin: 2%;

        margin-left: 3%;

        margin-right: 1%;

    }
    .jourProgrammes{

        position: relative;
        float: left;
        width: 13.7%;
        border: 1px solid #072258;
        margin-right: 5px;
        margin-bottom: 0px;
        background-color: #679df4;
        height: 10%;
    }