
.player
{
    float: right;
    background-color: #FFF;
    border-top-left-radius: 58px;
    width: 27%;
    min-width: 20%;
}

.menu
{
    width: 25%;
    float: left;
    margin-left: 0%;
}
.Divhautpage{
    background-color: #3b5e96;
}
.wrap{
    position: relative;
    min-height: 100%;
}

    .form-liste {
        background: #2b456e;
        clear: right;
        position: relative;
        margin: 5%;
        padding: 50px 50px 50px;
        border: 1px dotted #8d8b8d;
        background: #2b456e;
    }
    .form-elt-liste {

        background: #2b456e;
        border: 1px solid #2b456e;
        color:#F5DEB3;
        list-style: none;
        padding: 8px 16px 8px 34px;
        margin: 8px 10px 8px 0;
        font-size: xx-large;
    }

    body{
    background-color:#B0C4DE;  
    }
    .navbar-nav > li > a {

        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        color: beige;
        font-size: 25px;
    }

    .navbar-nav{
        position: absolute;

        bottom: 0;

        width: 38%;

        min-width: 600px;

    }
    .fond-picto > h1:nth-child(1){
        color:white;
    }
    .navbar {
        border: 0px;
    }
    .nav > li > a:focus, .nav > li > a:hover {

        text-decoration: none;
        background-color: #426aa8;
    }
    .container-fluid {

        padding-right: 11px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: 18%;
        background: #3b5e96;
        width: 80%;
    }
    div.fond-picto:nth-child(8) > a:nth-child(4){
        height: 60px;
    }

    div > a{
        color: beige;
        text-decoration: none;
    }

    div > a:hover{
        color: green;
        text-decoration: none;
    }
    .Evenement{
    color: rgba(77, 76, 76, 0.911); 
    }
    .form-control{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    .formdiv{
        display: table;
        margin: 100 auto;
        background-color: #2b456e;
        color:#F5DEB3;

    }

    .input-sm{
        border: none; 
        color:black;
    }

    .col-md-6 {

        width: 76%;
        margin-left: 9%;

    }
    .intitule{
        color:#3b5e96;  
    }
    .test{
        width: 76%;
        margin-left: 42%;
    }


    .DivEvenement{
        width: 26%; 
    float: left; 
    margin-left: 1%;
    }



    .form-Evenement {
        clear: right;
        position: relative;
        margin: 4%;
        padding: 22px 31px 14px;
        border: 2px solid #2b456e;
    }
    .form-elt-Evenement{
        color:#2b456e;
        list-style: none;
        padding: 8px 16px 8px 34px;
        margin: 3px 5px 5px 0;
        font-size: large;
    }
    .h1Evenement{
        font-size: 21px;
        margin-left: 48%;
    }

  
    .image {
        display: inline-block;
        width: 100%;
        height: auto;
      }
    .text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;     /* fallback */
        max-height: 40px;     /* fallback */
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
     }
     
    
    .containerc{
    margin-left: 50%;
    display: inline-block;
    }
  
 
    
  
 
    .infoloc{
        margin-left: 31px;
        color: #FFF;
    }
    .audioInfo{
        display: inline;

        vertical-align: 12%;

        margin-left: 70%;

        margin-top: -7%;
        
        margin-bottom: 21px;
        
        width: 30%;
    }
    .hautcentre{
        margin: auto;
        width: 50%;
        padding: 10px;
        
    }
   
    .carousel-inner{
        width:100%;
        max-height: 200px !important;
      }
     
      
      .item{
          margin-left: 20%;
      }
    
      .ahref{
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      .direct{
        margin-left: 72px;

        margin-top: -3%;
        
        margin-right: 12%;
        
        font-size: 21px;
        
        color: white;
      }
      .btnradio{
        background-image: url('play.png');
      }
      .titre{
        font-size: 22px;
      }
      .imgee{
        width: 17%;
        margin-top: -3%;
        }

    .lien{
        width: 17%;
    margin-top: -3%;
    margin-left: -30%;
    margin-right: 72%;
        }
        .colonnedr{
            position: relative;

                float: left;

                width: 310px;

                min-height: 1px;

                padding-right: 5px;

                padding-left: 5px;
        }
        .colonne1 {
            float: right;

            width: 30%;
            
            text-align: center;
            
            margin-right: 3.8%;

        }
      
        .h1jeux{
            margin-bottom: 0px;
        }
        .lespan{
            font-size: 22px;
        }
       
        .divImagefluid{
            float: left;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 7px;
        }
        .divtxtfluid{
        
        }
        .imageint{
            display: inline-block;
            height: auto;
            max-width: 50%;
            margin-left: 23%;
        }
        .titreint{
            font-size: 22px;
            margin-left: 39%;
            color: #15326b;
        }
        .divcontint{
            display: inline-block;
        }
    
   
        .txtInterview{
            margin-left: 31px;

            color: #2b456e;
        
            display: inline-block;
        
            margin-right: 31px;
        }

           .blue{
            color: #2b456e;
           }
        .evenementvoir{
            font-size:14%; 
        }
    
        
    
     .txtvoirplus{
        font-size: 22px;

        margin-left: 10%;
     }
    
    

    

   

      .partieDescription
        {
            float: right;
            width: 54%;
            margin-right: 5%;
            margin-top: 70px;
        }
        
  
     
       
    
        .Divtext{
            text-align: center;
            font-size: 22px;
            color: #15326b;
            
        }
        .Descriptionpart{
            height: 200px;
        }
        
    

       .lienradio{
        width: 13%;
       }
        
 


        .dropdown-submenu {
            position: relative;
          }
          
          .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
          }

          .Headerimage{
            height: 227px;
            float: left;
            margin-left: 31px;
          }

          .containerImageint{
            display: inline-block;
            height: 100%;
            width: 20%;
            float:left;
          }



    #txtEntête
    {
        margin-top: 50px;
        font-size: 60px;
        font-family:'Mv Boli';
        color:beige;
    }



  
    #footer {clear: both;
        background-color: #2b456e;}
  
     @media screen and (max-width: 640px) {
        .bloc {
          display:block;
          clear:both;
        }

        
      }